<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxc.ms.service.mvc.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cxc.ms.service.mvc.model.User" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_type" property="userType" jdbcType="SMALLINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="BIGINT" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="sno" property="sno" jdbcType="VARCHAR" />
    <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
    <result column="registration_time" property="registrationTime" jdbcType="TIMESTAMP" />
    <result column="user_level" property="userLevel" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="resume" property="resume" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="com.cxc.ms.service.mvc.ret.UserSelf" id="UserSelfMap" extends="BaseResultMap">
  	<result column="organization_name" property="organizationName" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_type, user_name, nickname, real_name, password, email, organization_id, major, 
    sno, photo_url, registration_time, user_level, status, phone, resume
  </sql>
   <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
   <select id="selectByExample" parameterType="com.cxc.ms.service.mvc.model.UserExample" resultMap="UserSelfMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />, (select name from organization where organization.id = user.organization_id) as organization_name
    from user 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" /> 
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectUserSelfById" resultMap="UserSelfMap" parameterType="java.lang.Long">
  	select <include refid="Base_Column_List" />, (select name from organization where organization.id = user.organization_id) as organization_name
  	from user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where phone = #{phone,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cxc.ms.service.mvc.model.User" >
    insert into user (user_id, user_type, user_name, 
      nickname, real_name, password, 
      email, organization_id, major, 
      sno, photo_url, registration_time, 
      user_level, status, phone, 
      resume)
    values (#{userId,jdbcType=BIGINT}, #{userType,jdbcType=SMALLINT}, #{userName,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{organizationId,jdbcType=BIGINT}, #{major,jdbcType=VARCHAR}, 
      #{sno,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR}, #{registrationTime,jdbcType=TIMESTAMP}, 
      #{userLevel,jdbcType=BIGINT}, #{status,jdbcType=SMALLINT}, #{phone,jdbcType=VARCHAR}, 
      #{resume,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxc.ms.service.mvc.model.User" useGeneratedKeys="true" keyProperty="userId">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="sno != null" >
        sno,
      </if>
      <if test="photoUrl != null" >
        photo_url,
      </if>
      <if test="registrationTime != null" >
        registration_time,
      </if>
      <if test="userLevel != null" >
        user_level,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="resume != null" >
        resume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=SMALLINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=BIGINT},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="sno != null" >
        #{sno,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null" >
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null" >
        #{registrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="resume != null" >
        #{resume,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxc.ms.service.mvc.model.User" >
    update user
    <set >
      <if test="userType != null" >
        user_type = #{userType,jdbcType=SMALLINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=BIGINT},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="sno != null" >
        sno = #{sno,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null" >
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null" >
        registration_time = #{registrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLevel != null" >
        user_level = #{userLevel,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="resume != null" >
        resume = #{resume,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxc.ms.service.mvc.model.User" >
    update user
    set user_type = #{userType,jdbcType=SMALLINT},
      user_name = #{userName,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=BIGINT},
      major = #{major,jdbcType=VARCHAR},
      sno = #{sno,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      registration_time = #{registrationTime,jdbcType=TIMESTAMP},
      user_level = #{userLevel,jdbcType=BIGINT},
      status = #{status,jdbcType=SMALLINT},
      phone = #{phone,jdbcType=VARCHAR},
      resume = #{resume,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>